
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

    <h4>

        Se você tem uma conta conosco, nós te enviamos um email com as instruções para redefinir sua senha.
        <br/>
        If you have an account with us, we have sent an email
        with the instructions to reset your password.
    </h4>