
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<div>

    <div class="row">
        <form method="post" asp-controller="Account" asp-action="Login" class="col-md-4">
            <input type="text" name="username" value="" class="form-control" />
            <input type="password" name="password" value="" class="form-control" />
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
    <div>
        <a asp-action="ForgotPassword">Forgot Password?</a>
    </div>

</div>
